<div class="one-column" data-bind="foreach: branchComparisons">
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th colspan="5" class="cell--heading">
                    <span class="left" data-bind="text: title"></span>
                    <button class="btn--primary right" data-bind="click: loadUnmergedChanges, css: { 'btn-loading': isLoading }">Reload</button>
                </th>
            </tr>
            </thead>
            <tbody data-bind="foreach: data">
            <tr>
                <td class="cell--align-left">
                    <button class="btn--warning" data-bind="click: function() { $parent.merge(changesetId); }">Merge</button>
                </td>
                <td data-bind="text: changesetId"></td>
                <td data-bind="text: comment"></td>
                <td data-bind="text: creationDate"></td>
                <td data-bind="text: workItemTitle"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>