/// <reference path="../_base.scss" />

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-track {
    //border-radius: 6px;
    background: $grey-mid;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: $blue;
}