@using System
@using System.Linq
@inherits RazorEngine.Templating.TemplateBase<TfsStandalone.UI.Models.Pages.MainViewModel>
@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<div id="main" data-bind="template: { name: template }"></div>

<script type="text/html" id="authenticating-template">
    <div class="loading"></div>
</script>

<script type="text/html" id="main-template">
    <div class="primary-nav">
        <div data-bind="foreach: navItems">
            <div data-bind="css: css, attr: { title: title }, click: $parent.selectNavItem">
                <i data-bind="css: iconCss"></i>
            </div>
        </div>
        <div class="primary-nav__lower" data-bind="foreach: lowerNavItems">
            <div data-bind="css: css, attr: { title: title }, click: $parent.selectNavItem">
                <i data-bind="css: iconCss"></i>
            </div>
        </div>
    </div>

    <div data-bind="visible: unmergedChangesetsNavItem().isActive(), with: unmergedChangesetsViewModel">
        @Include("Views/Partials/_UnmergedChangesets.cshtml")
    </div>

    <div data-bind="visible: shelvesetDiffNavItem().isActive(), with: shelvesetDiffViewModel">
        @Include("Views/Partials/_ShelvesetDiff.cshtml")
    </div>

    <div data-bind="visible: settingsNavItem().isActive(), with: settingsViewModel">
        @Include("Views/Partials/_Settings.cshtml")
    </div>
</script>

<script>
    var viewModel = new MainViewModel();
    ko.applyBindings(viewModel, document.getElementById("main"));
</script>