@inherits RazorEngine.Templating.TemplateBase<TfsStandalone.UI.Models.Pages.BaseViewModel>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="public/dist/css/global.css">
    <script src="public/dist/js/global.js"></script> @* TODO remove jQuery from global.js? *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
@RenderBody()
</body>
</html>